<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plant exchange - Log In</title>
</head>
<body>
<h2>Plant Exchange - Log In</h2>

<form th:action="@{/login}" method="POST" enctype="utf8">
    <div>
        <input type="email" placeholder="E-mail" name="username"/>
    </div>
    <div>
        <input type="password" placeholder="Password" name="password"/>
    </div>
    <button type="submit">Log in</button>
</form>

<p>
    <a href="/register">Register</a>
</p>
</body>
</html>