<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet"
          type = "text/css"
          href = "../css/styles.css" />
    <title>Plant Exchange - Registration</title>
</head>
<body>
<h2>Plant Exchange - registration</h2>

<form th:action="@{/register}" th:object="${userRegistrationForm}" method="POST" enctype="utf8">
    <div>
        <input type="email" placeholder="E-mail" th:field="*{email}"/>
    </div>
    <div>
        <input type="password" placeholder="Password" th:field="*{password}"/>
    </div>
    <button type="submit">Register</button>
</form>
</body>
</html>